{% extends "main.html" %}

{% block title %}
index
{% endblock %}

{% block main %}
<table class="table table-light">
  <thead>
    <th>Name</th>
    <th>Price $</th>
  </thead>
  <tbody>
    {% for itemin in item %}
    {% if "Jam" in itemin.name %}
    <tr>
      <td>{{itemin.name}} Jar</td>
      <td>{{itemin.price}}</td>
    </tr>
    {% else %}
    <tr>
      <td>{{itemin.name}} Gallon</td>
      <td>{{itemin.price}}</td>
    </tr>
    {% endif %}
    {% endfor %}

  <tfoot>
    <td colspan="4"></td>
    <td>All Natural !</td>
  </tfoot>
  </tbody>
</table>
{% endblock %}